<div class="m-4">
    <h1>Your input is not valid:</h1>

    <ul>
        @foreach (var error in Model)
        {
            <li>
                <h4>@error</h4>
            </li>
        }
    </ul>
</div>
