<form action="/cats/save" method="post">
    Name: <input type="text" name="name" /> <br />
    Age: <input type="text" name="age" /> <br />
    Breed: <input type="text" name="breed" />
    <input type="submit" value="Save" />
</form>